body {
    background-color: rgb(181, 184, 179);
    font-size: 150%;
}

h2 {
    display: grid;
    grid-template-columns: auto;
    justify-content: space-around;
    font-size: 150%;
    background-color: black;
    color: rgb(253, 253, 253);
}

nav ul {
    display: flex;
    justify-content: space-around;
    background-color: rgb(171, 205, 240);
    border: 10px;
    padding: 10px;
    list-style-type: none;
}

nav ul li:hover {
    background-color: bisque;
    color: aliceblue;
}

li {
    color: rgb(185, 142, 93);
}

.divo {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview {
    width: 90%;
    border: 5px solid cadetblue;
    margin: 20px; 
    object-fit: cover;
    border-radius: 20px;
    height: 250px;
    gap: 20px;
}

.mainn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

/* Quy tắc CSS cho lưới hình ảnh */
#image-gallery {
    display: grid; /* Đảm bảo sử dụng lưới */
    gap: 10px; /* Khoảng cách giữa các hình ảnh */
}

/* Màn hình lớn hơn 772px */
@media screen and (min-width: 772px) {
    #image-gallery {
        grid-template-columns: repeat(2, 1fr); /* Hai cột */
    }
}

/* Màn hình lớn hơn 992px */
@media screen and (min-width: 992px) {
    #image-gallery {
        grid-template-columns: repeat(4, 1fr); /* Bốn cột */
    }
}
